[Desktop Entry]
Version=1.0
Type=Application
Name=Mecânica Adrian - Sistema ERP
Comment=Sistema de gerenciamento da oficina (Funciona Offline)
Exec=bash /home/laiz/Downloads/Mecanica-Adrian/Iniciar_Sistema.sh
Path=/home/laiz/Downloads/Mecanica-Adrian
Icon=applications-engineering
Categories=Business;Office;
Terminal=false
StartupNotify=true
